@font-face {
  font-family: Outfit;
  src: url(font/Outfit-VariableFont_wght.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: hsl(212, 45%, 89%);
  font-family: Outfit;
  font-size: 15px;
  padding: 1rem;
  height: 100vh;
  display: flex;
}

.container {
  background-color: white;
  text-align: center;
  width: 100%;
  max-width: 300px;
  padding: 1rem;
  border-radius: 10px;
  margin: auto;
  box-shadow: 0 0 15px rgb(192, 192, 192);
}

img {
  width: 100%;
  border-radius: 10px;
}

.text-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 0.5rem;
  margin: 1rem 0;
}

h2 {
  font-size: 1.3rem;
}

p {
  font-weight: lighter;
  line-height: 1.4;
}
